﻿@using System.Configuration;
@{
    ViewBag.Title = "Match Odds";
}

<br />
<br />

<table class="table table-dark">
    <tr>
        <td>Match Name</td>
        <td>Home Wins</td>
        <td>Draw</td>
        <td>Away Wins</td>
        <td></td>
    </tr>
    <tr>
        <td id="match-1">Real Madrid Vs Manchester Utd.</td>
        <td id="match-1-1"></td>
        <td id="match-1-X"></td>
        <td id="match-1-2"></td>
        <td>
            @{
                if (Request.IsAuthenticated)
                {
                    @:BetAmount: <input type="text" id="betAmount" value="1" /><select id="betDecision"><option value="1">Home Wins</option><option value="X">Draw</option><option value="2">Away Wins</option></select><input type="button" value="Bet" id="betSubmit"></ input >
                }
            }
        </td>
    </tr>
</table>
<span style="color:red"><b>**Currently refreshing odds every @ConfigurationManager.AppSettings.Get("OddsRefreshRateMS") milliseconds</b></span>

<script src="~/signalr/hubs"></script>
<script type="text/javascript">
    $(function () {
        var dummyMatchId = 1;

        $("#betSubmit").click(function () {
            var betRequest = {
                MatchId: dummyMatchId,
                Amount: $("#betAmount").val(),
                Decision: $("#betDecision").val()
            }

            $.ajax({
                type: "POST",
                url: '/api/bets/performBet',
                data: betRequest,
                success: function (data) {
                    if (data > 0) { alert('Bet Placed Successfully') }
                    else { alert('You have already placed a bet on this match. Sorry!') }
                }
            });
        });

        $.ajax({
            url: '/api/MatchOdd/' + dummyMatchId, //Get the current values immediately
            success: function (data) {
                $('#match-' + data.MatchID + '-1').html('<strong>' + data.HomeWins + '</strong>');
                $('#match-' + data.MatchID + '-X').html('<strong>' + data.Draw + '</strong>');
                $('#match-' + data.MatchID + '-2').html('<strong>' + data.AwayWins + '</strong>');
            }
        });

        var odds = $.connection.matchOddsHub;
        odds.client.broadcastMessage = function (matchId, odd1, oddX, odd2) {
            $('#match-' + matchId + '-1').html('<strong>' + odd1 + '</strong>');
            $('#match-' + matchId + '-X').html('<strong>' + oddX + '</strong>');
            $('#match-' + matchId + '-2').html('<strong>' + odd2 + '</strong>');
        };
        $.connection.hub.start();
    });
</script>
